{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h3>Word: {{ word.common_name }}</h3>
        <h3>Category : {{ word.category }}</h3>
        <p>Word ID: {{ word.id }}</p>

        {% if word.is_defined %}
            <p>Word defined date: {{ word.define_date }}</p>
            <p>Word definer ID: {{ word.defined_user_id }}</p>
        {% endif %}

        {% if word.is_revised %}
            <p>Word defined date: {{ word.revised_date }}</p>
            <p>Word definer ID: {{ word.reviser_id }}</p>
        {% endif %}

        {% if word.is_published %}
            <p>Word defined date: {{ word.published_date }}</p>
            <p>Word definer ID: {{ word.publisher_id }}</p>
        {% endif %}

        {% if word.other_names %}
            {% for name in word.other_names  %}
                {{ name }}
            {% endfor %}

        {% endif %}

    </div>

{% endblock %}