{% extends 'base.html' %}

{% block content %}
{% include 'includes/search_box.html' %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <pre>
            {% for word in words_set_1 %}
                <a href="{{url_for('dictionary.view_word', word_id=word.id)}}"> {{ word.common_name }} </a>
                    {{ word.category }}
                    {{ word.short_description }}
            {% endfor %}
            </pre>
        </div>

        <div class="col-6">
           <pre>
            {% for word in words_set_2 %}
                <a href="{{url_for('dictionary.view_word', word_id=word.id)}}"> {{ word.common_name }} </a>
                    {{ word.category }}
                    {{ word.short_description }}
            {% endfor %}
            </pre>
        </div>
    </div>

</div>
{% endblock %}