{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <form class="navbar-form">
            <h2 class="text-center"> Search The Articles</h2>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn-sm btn-primary align-items-center">
                        <!--<span class="oi oi-magnifying-glass"></span>-->
                        <!--<i class="glyphicon glyphicon-search"></i>-->
                        Submit
                    </button>
                </div>
            </div>
            <div class=" input-group-btn btn-group-justified btn-group-sm">
                <button class=" btn-primary" type="button">Alphabetic</button>
                <button class=" btn-primary" type="button">Plants</button>
                <button class=" btn-primary" type="button">Animals</button>
                <button class=" btn-primary" type="button">Tools</button>
            </div>
        </form>
    </div>
</div>

<br>
<div class="container">

    <div class="row">
        <!-- Left side
        =====================================-->

        <div class="col-6">
            <div class="container" id="latestArticle">
                <h3> Latest Article </h3>
                <p> This is where the articles are going to be placed. It's not super stylized because
                    I am not sure what exactly is going there, but it's good enough for now.
                </p>
                <a class = "btn btn-primary" href = "#"> Full Article </a>
            </div>
            <br>
            <div class="container" id="popularArticle">
                <h3> Popular Article </h3>
                <p> This is where the articles are going to be placed. It's not super stylized because
                    I am not sure what exactly is going there, but it's good enough for now.
                </p>
                <a class = "btn btn-primary" href = "#"> Full Article </a>
            </div>
            <div class="container">
                <h2>related Articles</h2>
                <div class="row">
                    <div class="col-6">
                        <h3>Article 1</h3>
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                    </div>
                    <div class="col-6">
                        <h3>Article 2</h3>
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                    </div>
                    <div class="col-6">
                        <h3>Article 3</h3>
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                    </div>
                    <div class="col-6">
                        <h3>Article 4</h3>
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                        Some more information will be going here
                    </div>

                </div>
            </div>
        </div>


        <!-- Right side
       =====================================-->
        <div class="col-6">
            <div class="container">
                <h1>Order Articles by </h1>
                <select>
                    <option>Date</option>
                    <option>Author</option>
                    <option>Title</option>
                </select>

                <br>
                <h2>Blog1 title</h2>
                <h2>Blog Author </h2>
                <h3> blog date </h3>
                <p>Blog Body Snippet </p>
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here

                <br>
                <h2>Blog2 title</h2>
                <h2>Blog Author </h2>
                <h3> blog date </h3>
                <p>Blog Body Snippet </p>
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here

                <br>
                <h2>Blog2 title</h2>
                <h2>Blog Author </h2>
                <h3> blog date </h3>
                <p>Blog Body Snippet </p>
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here
                Some more information will be going here
            </div>

        </div>
    </div>
</div>
{% endblock %}

