{% extends 'base.html' %}
{% from "_form_macros.html" import render_field %}

{% block content %}

    <div class="container">
        <div class="jumbotron">

            <form class="navbar-form" action="{{ url_for('home.index') }}" method="post">
                    {{ form.csrf_token }}

                <h2 class="text-center"> Search The Dictionary</h2>
                <div class="input-group">

                    <input id="query_text" name="query_text" type="text" class="form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="submit">Search</button>
                    </div>
                </div>
                <div class=" input-group-btn btn-group-justified btn-group-sm">
                    <button class=" btn-primary" type="button">Alphabetic</button>
                    <button class=" btn-primary" type="button">Plants</button>
                    <button class=" btn-primary" type="button">Animals</button>
                    <button class=" btn-primary" type="button">Tools</button>
                </div>

            </form>



        </div>
    </div>










    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class = "article1">
                    <h3> Latest Article </h3>
                    <p> This is where the articles are going to be placed. It's not super stylized because
                        I am not sure what exactly is going there, but it's good enough for now.
                    </p>
                    <a class = "btn btn-primary" href = "#"> Full Article </a>
                </div>
                <br>
                <div class = "article1">
                    <h3> Happening </h3>
                    <p> This is where the articles are going to be placed. It's not super stylized because
                        I am not sure what exactly is going there, but it's good enough for now.
                    </p>
                    <a class = "btn btn-primary" href = "#"> Full Article </a>
                </div>
            </div>

            <div class="col-6">
                <div class = "blog1">
                    <h3> Latest Blog </h3>
                    <p> This is where the articles are going to be placed. It's not super stylized because
                        <br><br>
                        I am not sure what exactly is going there, but it's good enough for now.
                        This is where the articles are going to be placed. It's not super stylized because
                        <br>
                        I am not sure what exactly is going there, but it's good enough for now.
                        This is where the articles are going to be placed. It's not super stylized because
                        <br>I am not sure what exactly is going there, but it's good enough for now.
                    </p>
                    <a class = "btn btn-primary" href = "#"> Full Article </a>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
