{% extends 'base.html' %}

{% block content %}
{% include 'includes/searchbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class = "article1">
                <h3> Latest Article </h3>
                <p> This is where the articles are going to be placed. It's not super stylized because
                    I am not sure what exactly is going there, but it's good enough for now.
                </p>
                <a class = "btn btn-primary" href = "#"> Full Article </a>
            </div>
            <br>
            <div class = "article1">
                <h3> Happening </h3>
                <p> This is where the articles are going to be placed. It's not super stylized because
                    I am not sure what exactly is going there, but it's good enough for now.
                </p>
                <a class = "btn btn-primary" href = "#"> Full Article </a>
            </div>
        </div>

        <div class="col-6">
            <div class = "blog1">
                <h3> Latest Blog </h3>
                <p> This is where the articles are going to be placed. It's not super stylized because
                    <br><br>
                    I am not sure what exactly is going there, but it's good enough for now.
                    This is where the articles are going to be placed. It's not super stylized because
                    <br>
                    I am not sure what exactly is going there, but it's good enough for now.
                    This is where the articles are going to be placed. It's not super stylized because
                    <br>I am not sure what exactly is going there, but it's good enough for now.
                </p>
                <a class = "btn btn-primary" href = "#"> Full Article </a>
            </div>

        </div>
    </div>
</div>



{% endblock %}
