{% extends 'base.html' %}
{% from "_form_macros.html" import render_field %}

{% block content %}
    <div class="container">

        <div class="jumbotron">

            {#        <form action="{{ url_for('dictionary.search') }}" method="post">#}
{#            <form class="navbar-form" action="{{ url_for('home.search') }}" method="post">#}
            <form action="{{ url_for('home.search') }}" method="post">
                {{ form.csrf_token }}
                <h2 class="text-center"> Search The Dictionary</h2>
                    {{ render_field(form.query_text, placeholder="query_text") }}
                <button class="btn btn-sm btn-success" type="submit">Search Words</button>

{#                <div class="input-group">#}
{#                    <input type="text" class="form-control" value={{ form.query_text }}/>#}





                {#                    <div class="input-group-btn">#}
{#                        <button class="btn-sm btn-primary align-items-center">#}
{#                            <!--<span class="oi oi-magnifying-glass"></span>-->#}
{#                            <!--<i class="glyphicon glyphicon-search"></i>-->#}
{#                            Submit#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}

{#                <div class=" input-group-btn btn-group-justified btn-group-sm">#}
{#                    <button class=" btn-primary" type="button">Alphabetic</button>#}
{#                    <button class=" btn-primary" type="button">Plants</button>#}
{#                    <button class=" btn-primary" type="button">Animals</button>#}
{#                    <button class=" btn-primary" type="button">Tools</button>#}
{#                </div>#}
            </form>
        </div>
    </div>
{% endblock %}