{# project/templates/email_confirmation.html #}

<h3>Thank you {{ user_name }} for registering with DASA!</h3>
Your account on Kennedy Family Recipes was successfully created.
Please click the link below to confirm your email address and
activate your account:

<br><br>

<a href="{{ confirm_url }}">{{ confirm_url }}</a>

<br><br>


Your current clearance level is as a viewer. If you would like to
participate in the continuation of the development of this project,
please email me back, and I would love to have you on our team.
--
Questions? Comments? Email olsonpho@gmail.com.

<br><br>

Best <br>
O Josué Dimanche, <br>
olsonpho@gmail.com